@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/*
font-family: "Overpass", sans-serif;
font-family: "Ubuntu", sans-serif;
*/
:root{
    --light-red:hsl(356, 100%, 66%);/* CTA text */
    --very-light-red:hsl(355, 100%, 74%);/* CTA hover background */
    --very-dark-blue:hsl(208, 49%, 24%);/* heading */
    --white:hsl(0, 0%, 100%);/* text */
    --grayish-blue:hsl(240, 2%, 79%);/* footer text */
    --very-dark-grayish-blue:hsl(207, 13%, 34%);/* body copy*/
    --very-dark-black-blue: hsl(240, 10%, 16%);/* footer background */
    /* Background gradient - Intro/CTA mobile nav: */
    --very-light-red:hsl(13, 100%, 72%);
    --light-red:hsl(353, 100%, 62%);
    /*Background gradient - body:*/
    --very-dark-gray-blue:hsl(237, 17%, 21%);
    --very-dark-desaturated-blue:hsl(237, 23%, 32%);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    height: 40vh;
    background-color: var(--very-light-red);
    background-image: url(images/bg-pattern-intro-desktop.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0 0 0 60px;
    box-shadow: 0 0 20px;
    display: flex;
    flex-direction: column;
}
.top-header{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-left{
    min-width: 450px;
    display: flex;
    align-items: center;
}
.navbar{
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.navbar>li{
    list-style-type: none;
}
.navbar li a{
    text-decoration: none;
    color: var(--white);
    padding: 10px 20px;
}
.navbar li:hover a{
    background-color: var(--very-light-red);
    color: var(--white);
}
.navbar li:hover .sous{
    display: block;
}
.navbar li:hover .sous{
    display: block;
}
.deroulant a{
    list-style-type: none;
    text-decoration: none;
    color: white;
}
.sous{
    display: none;
    position: absolute;
    background-color: var(--very-light-red);
    border-radius: 5px;
}
.sous li{
    width: 100%;
    padding: 10px;
    list-style-type: none;
}
.bottom-header{
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
button{
    height: 50px;
    width: 200px;
    border-radius: 25px;
}
.design{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.design>h2{
    font-size: 2.5rem;
    color: var(--very-dark-black-blue);
    text-align: center;
}
.container-design{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.design-left{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.design-left>.design-block{
    max-width: 45vw;
}
.design-right{
    background-image: url(images/bg-pattern-circles.svg);
}
.design-right>img{
    display: block;
    max-width: 100%;
}
.state{
    background-color: var(--very-dark-blue);
    border-radius: 0 60px 0 60px;
    background-image: url(images/bg-pattern-circles.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.state-left>img{
    display: block;
    max-width: 100%;
}
.state-right{
    max-width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.state-right>h2{
    font-size: 2.5rem;
}
.free{
    border-radius: 0 60px 0 60px;
    background-image: url(images/bg-pattern-circles.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.free-left>img{
    display: block;
    max-width: 100%;
}
.free-right{
    max-width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
footer{
    height: 40vh;
    background-color: var(--very-dark-black-blue);
    border-radius: 60px 0 0 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.foot-block{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.foot-block ul{
    list-style-type: none;
}
.foot-block>ul>li{
    padding: 5px;
    margin: 10px 0;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }