@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 100%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
  
  --font-family: 'Overpass', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  font-size: 15px;
  background-color: var(--very-dark-blue);
  color: var(--white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.rating-card, .thank-you-card {
  background: radial-gradient(circle at top, var(--dark-blue), var(--very-dark-blue));
  width: 100%;
  max-width: 412px;
  padding: 32px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

/* Rating State */
.star-container {
  background-color: var(--dark-blue);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.card-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
}

.card-description {
  color: var(--light-grey);
  line-height: 1.6;
  margin-bottom: 24px;
}

.rating-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.rating-btn {
  background-color: var(--dark-blue);
  color: var(--light-grey);
  border: none;
  width: 51px;
  height: 51px;
  border-radius: 50%;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s;
}

.rating-btn:hover {
  background-color: var(--light-grey);
  color: var(--white);
}

.rating-btn.active {
  background-color: var(--orange);
  color: var(--white);
}

.submit-btn {
  background-color: var(--orange);
  color: var(--white);
  border: none;
  border-radius: 22.5px;
  padding: 12px;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.3s;
}

.submit-btn:hover {
  background-color: var(--white);
  color: var(--orange);
}

/* Thank You State */
.thank-you-card {
  align-items: center;
  text-align: center;
}

.thank-you-img {
  margin-bottom: 32px;
}

.selection-text {
  background-color: var(--dark-blue);
  color: var(--orange);
  padding: 6px 20px;
  border-radius: 22.5px;
  font-size: 15px;
  margin-bottom: 32px;
}

.thank-you-title {
  font-size: 28px;
  margin-bottom: 15px;
}

.thank-you-description {
  color: var(--light-grey);
  line-height: 1.6;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 24px;
}

.attribution a {
  color: var(--orange);
}

@media (max-width: 375px) {
  .rating-card, .thank-you-card {
    padding: 24px;
  }
  
  .rating-btn {
    width: 42px;
    height: 42px;
  }
  
  .card-title, .thank-you-title {
    font-size: 24px;
  }
}