*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #eee;
    min-height: 100vh;
}
header{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo>img{
    display: block;
    max-width: 190px;
    border-radius: 50%;
}
nav{
    width: 80%;
    margin: auto;
    background-color: lightslategray;
    position: sticky;
    border-radius: 20px;
    display: flex;
}
nav>ul{
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
nav li{
    flex: 1 1 auto;
    text-align: center;
    position: relative;
}
nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}
nav a:hover{
    color: orange;
    border-bottom: 2px solid gold;
}
.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav li:hover .sous{
    display: flex;
    flex-flow: column wrap;
}
.sous{
    list-style-type: none;
}
.sous li{
    flex: 1 1 auto;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: rgba(200, 200, 200, 0.1);
}
i{
    font-size: 12px;
    font-weight: 200;
}
.centre{
    margin: 100px auto;
    width: 75%;
    flex: 1 1 25%;
}
article{
    background-color: #FFF;
    margin-bottom: 10px;
}
a{
    text-decoration: none;
    color: #000;
}
.carte:hover{
    box-sizing: border-box;
    border: 2px solid #aaa;
    box-shadow: 1px 1px 5px;
}
figure{
    margin: 0;
}
img{
    display: block;
    max-width: 100%;
}
figcaption{
    text-align: center;
    font-style: italic;
}
h2{
    margin-top: 5px;
    padding: 5px;
    text-align: center;
    font-size: 1em;
    background-color: #ccc;
}
p{
    padding: 10px;
    background-color: #FFF;
}
/* exemple flexbox 1 */
.flexbox{
    display: flex; /* Active le modèle flexbox */
    flex-direction: row; /* Aligne les éléments en ligne */
}
.info-flex{
    display: flex; /* Active le modèle flexbox */
    flex-direction: column; /* Aligne les éléments en colonne */
    align-items: center; /* Centre les éléments sur l'axe transversal */
    justify-content: center; /* Centre les éléments sur l'axe principal */
    height: 50vh; /* Hauteur de la vue */
}
.container{
    display: flex;
    flex-direction: row; /* Aligne les éléments en ligne */
    justify-content: space-between; /* Espace entre les éléments */
    align-items: center; /* Aligne les éléments au centre de l'axe transversal */
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne si nécessaire */
    border: 1px solid green; /* Bordure pour visualiser le conteneur */
}
.item{
    flex: 1; /* Chaque élément prend une part égale de l'espace disponible */
    margin: 10px; /* Espace entre les éléments */
    padding: 20px; /* Espace à l'intérieur de chaque élément */
    background-color: #f0f0f0; /* Couleur de fond des éléments */
    border: 1px solid #ccc; /* Bordure des éléments */
}
/* fin exemple flexbox 1 */
@media screen and (min-width: 600px) {
    .cartes{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .carte{
        flex: 0 0 48%;
        display: flex;
    }
}
@media screen and (min-width: 1200px) {
    .carte{
        flex: 0 0 32%;
    }
    
}