@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
:root{
    --white:hsl(0, 0%, 100%);
    --slate-300:hsl(212, 45%, 89%);
    --slate-500:hsl(216, 15%, 48%);
    --slate-900:hsl(218, 44%, 22%);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: "Outfit", sans-serif;
    font-size: 15px;
}
body{
    height: 100vh;
    max-width: 1440px;
    margin: auto;
    background-color: var(--slate-300);
    display: flex;
    flex-direction: column;
}
#card{
    max-width: 450px;
    margin: auto;
    padding: 10px;
    background-color: var(--white);
    border-radius: 25px;
}
.image>img{
    display: block;
    max-width: 100%;
    border-radius: 25px;
}
h2{
    font-size: 1.5em;
    font-weight: 700;
    color: var(--slate-900);
}
p{
    font-size: 1em;
    font-weight: 400;
    color: var(--slate-500);
}
.attribution{
    font-size: 11px;
    text-align: center;
}
.attribution>a{
    color: hsl(228, 45%, 44%);
}