*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.head-page{
    margin: 5px;
}
.top-page{
    background-color: #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar{
    display: flex;
}
.nav-link{
    list-style-type: none;
    padding: 5px;
}
.nav-link>a{
    text-decoration: none;
    color: black;
}
.bottom-header{
    display: flex;
    margin-top: 15px;
}
.head-text>h1{
    text-align: center;
}
.page{
    margin-top: 25px;
}
.page>h2{
    text-align: center;
}
.houses{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}
.presentation{
    display: flex;
    flex-direction: column;
}
.top-article{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.30em;
}
.top-article>h2, h3{
    margin: 15px;
    padding: 15px;
    font-family: cursive;
    font-weight: 800;
    background: linear-gradient(lightgrey, gray);
    width: 30%;
    text-align: center;
    border-radius: 12px;
    
}
.saga{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.30em;
}
button{
    width: 120px;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
}