*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
    "header header"
    "aside main"
    "aside main"
    "footer footer";
}
header{
    height: 15vh;
    grid-area: header;
    background-color: blueviolet;
}
aside{
    width: 15vw;
    grid-area: aside;
    background-color: orange;
}
.nav-list{
    list-style: none;
    background-color: whitesmoke;
    margin: 5px;

}
.nav-list:hover{
    background-color: grey;
}
.nav-list>a{
    text-decoration: none;
    color: black;
}
main{
    height: 70vh;
    width: 85vw;
    grid-area: main;
    background-color: cyan;
}
footer{
    height: 15vh;
    grid-area: footer;
    background-color: cadetblue;
}