@font-face {
  font-family: 'Work Sans';
  src: url('./assets/fonts/WorkSans-VariableFont_wght.ttf') format('truetype');
}

:root {
  --white: hsl(0, 100%, 100%);
  --purple-100: hsl(275, 100%, 97%);
  --purple-600: hsl(292, 16%, 49%);
  --purple-950: hsl(292, 42%, 14%);
  
  --font-family: 'Work Sans', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  font-size: 16px;
  background-color: var(--purple-100);
  background-image: url("assets/images/background-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100% 232px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
}

@media (min-width: 768px) {
  body {
    background-image: url("assets/images/background-pattern-desktop.svg");
    background-size: 100% 320px;
  }
}

.faq-card {
  background-color: var(--white);
  width: 100%;
  max-width: 600px;
  margin: 140px 0 24px;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.1);
}

.faq-header {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 32px;
}

.star-icon {
  width: 40px;
  height: 40px;
}

.faq-header h1 {
  color: var(--purple-950);
  font-size: 56px;
  font-weight: 700;
}

.accordion {
  display: flex;
  flex-direction: column;
}

.accordion-item {
  border-bottom: 1px solid var(--purple-100);
  padding: 24px 0;
}

.accordion-item:last-child {
  border-bottom: none;
}

.accordion-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-align: left;
  gap: 24px;
}

.question {
  color: var(--purple-950);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  transition: color 0.2s;
}

.accordion-header:hover .question {
  color: #AD28EB;
}

.accordion-content {
  margin-top: 24px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.accordion-content p {
  color: var(--purple-600);
  font-size: 16px;
  line-height: 1.5;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: auto;
  padding: 20px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 500px) {
  .faq-card {
    padding: 24px;
    margin-top: 120px;
  }

  .faq-header h1 {
    font-size: 32px;
  }

  .star-icon {
    width: 24px;
    height: 24px;
  }
}