:root{
    --grayish-blue:hsl(237, 18%, 59%);
    --soft-red:hsl(345, 95%, 68%);
    --white:hsl(0, 0%, 100%);
    --dark-desatured-blue:hsl(236, 21%, 26%);
    --very-dark-blue:hsl(235, 16%, 14%);
    --very-dark:hsl(234, 17%, 12%);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    font-size: 14px;
    background-color: var(--very-dark-blue);
    background-image: url(images/bg-stars.svg);
    display: flex;
    flex-direction: column;
}
#countdown{
    margin: auto;
    display: flex;
}
.countdown-items{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flip-card {
    position: relative;
    width: 100px;
    height: 100px;
    perspective: 1000px;
    margin: 0 10px;
}

.flip-card .top,
.flip-card .bottom {
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: var(--dark-desatured-blue);
    color: var(--soft-red);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    backface-visibility: hidden;
    border-radius: 5px;
}

.flip-card .top {
    top: 0;
    transform-origin: bottom;
}

.flip-card .bottom {
    bottom: 0;
    transform-origin: top;
    transform: rotateX(90deg);
}

.flip-card.animate .top {
    animation: flip-top 0.5s forwards;
}

.flip-card.animate .bottom {
    animation: flip-bottom 0.5s forwards;
}

@keyframes flip-top {
    0% {
        transform: rotateX(0);
    }
    100% {
        transform: rotateX(-90deg);
    }
}

@keyframes flip-bottom {
    0% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0);
    }
}
footer{
    min-height: 20vh;
    background-image: url(images/pattern-hills.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.social{
    display: flex;
}
.social>a{
    padding: 10px;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }