*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    height: 80px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
main{
    display: flex;
    justify-content: space-around;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.partie1{
    border: 1px solid;
    width: 350px;
}
.partie2{
    border: 1px solid;
}
.titre{
    font-size: 26px;
    font-weight: 500;
}
