*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    height: 80px;
    display: flex;
    justify-content:baseline;
    align-items: center;
}
.partie1{
    border: 1px solid;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titre{
    font-size: 28px;
    font-weight: 700;
}
.lien1{
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    background-color: chocolate;
}
.lien1>a{
    text-decoration: none;
    color: brown;
}