@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
:root{
    --purple-600:hsl(246, 80%, 60%);
    --work:hsl(15, 100%, 70%);
    --play:hsl(195, 74%, 62%);
    --study:hsl(348, 100%, 68%);
    --exercice:hsl(145, 58%, 55%);
    --social:hsl(264, 64%, 52%);
    --selfcare:hsl(43, 84%, 65%);
    --navy-950:hsl(226, 43%, 10%);
    --navy-900:hsl(235, 46%, 20%);
    --purple-500:hsl(235, 45%, 61%);
    --navy-200:hsl(236, 100%, 87%);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background-color: var(--navy-900);
    font-family: "Rubik", sans-serif;
    display: flex;
    flex-direction: column;
}
main{
    margin: auto;
    display: grid;
    grid-template-areas: 
        "profil work play study"
        "profil exercice social selfcare";
    grid-gap: 1.5rem; /* Espacement entre les cartes */
}
.card{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrer verticalement les données */
    align-items: center; /* Centrer horizontalement les données */
    border-radius: 10px;
    color: var(--navy-200);
    padding: 1rem;
    text-align: center;
}
.profil-card{
    grid-area: profil;
    background-color: var(--purple-600);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}
.top-card{
    height: 80%;
    width: 100%;
    background-color: var(--purple-500);
    border-radius: 15px 0 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.top-card>img{
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid var(--navy-200);
}
.top-text>p{
    font-size: 1rem;
    color: var(--navy-200);
}
.top-text>h1 {
    font-size: 1.5rem;
    color: white;
}
#menu>ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
#menu>ul>li{
    list-style: none;
    cursor: pointer;
    font-size: 0.9rem;
    color: var(--navy-200);
}
#menu>ul>li.active{
    color: var(--purple-600);
}

#menu>ul>li:hover{
    color: var(--purple-500);
}
.top{
    height: 8vh;
}
#work>.top{
    background-color: var(--work);
    background-image: url(./images/icon-work.svg);
    background-repeat: no-repeat;
    background-position: right;
}
#play>.top{
    background-color: var(--play);
    background-image: url(./images/icon-play.svg);
    background-repeat: no-repeat;
    background-position: right;
}
#study>.top{
    background-color: var(--study);
    background-image: url(./images/icon-study.svg);
    background-repeat: no-repeat;
    background-position: right;
}
#exercice>.top{
    background-color: var(--exercice);
    background-image: url(./images/icon-exercise.svg);
    background-repeat: no-repeat;
    background-position: right;
}
#social>.top{
    background-color: var(--social);
    background-image: url(./images/icon-social.svg);
    background-repeat: no-repeat;
    background-position: right;
}
#selfcare>.top{
    background-color: var(--selfcare);
    background-image: url(./images/icon-self-care.svg);
    background-repeat: no-repeat;
    background-position: right;
}
.top-display{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

#profil{
    grid-area: profil;
}
#work{
    grid-area: work;
}
#play{
    grid-area: play;
}
#study{
    grid-area: study;
}
#exercice{
    grid-area: exercice;
}
#social{
    grid-area: social;
}
#selfcare{
    grid-area: selfcare;
}
/* mobile styles */
@media (max-width: 768px) {
    main {
        grid-template-areas: 
            "profil"
            "work"
            "play"
            "study"
            "exercice"
            "social"
            "selfcare";
        gap: 1rem;
    }
    .profil-card{
        width: 100%;
    }
    .top-card>img{
        display: block;
        max-width: 100px;
    }
    #menu>ul{
        flex-direction: column;
        gap: 0.5rem;
    }
    .card{
        width: 100%;
        height: auto;
    }
}
.display{
    margin: auto;
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
}
.display h3 {
    color: white;
    margin: 0;
}
.display>p {
    color: var(--purple-500);
    margin: 0;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }